@import "./normalize.scss";
@import "./library.scss";
@import "./magazineViewer.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import "./animations.scss";
@import "./vendor.scss";
@import "./fonts.scss";

html {
    background-color: $grey;
    color: $black;
    font-family: "HelveticaNeue-CondensedBold", Menlo, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
}

body {
    margin: 0 12%;
}

html, body, #root, .home {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    &:link, &:visited {
        color: $black;
    }
}

.loading {
    width: 100px;
    margin: 60px auto;
    opacity: 0.5;
}

video::-internal-media-controls-download-button {
    display: none;
}

.home__header {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 0.5em;

    .home__title {
        margin-top: auto;
        cursor: pointer;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .home__header--logo {
        max-width: 130px;
        cursor: pointer;
        margin-left: calc(50% - 65px); // 50% of the width of the section - 50% of the width of the img
    }

    .menu--button {
        cursor: pointer;
        border-radius: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 3px 0px 0px 10px;
        width: 33px;
        height: 33px;
        background-color: rgba(54,53,54, 0.7);
        color: $grey;
        font-size: 20px;
    }
}

.menu__dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 12%;
    top: 90px;
    z-index: 1000;
    padding: 15px;
    margin: 21px;
    background-color: $grey-transparent;
    border-radius: 1px;
    @include fadeIn(0.6s);

    .logo {
        width: 40px;
        margin: 0 auto;
    }

    hr {
        width: 100%;
        border: 0;
        height: 0;
        border-bottom: 1px solid $black;
    }

    .menu--option {
        cursor: pointer;
        text-decoration: none;
        color: $black;
        font-family : Menlo;
        font-size: 10px;
        letter-spacing: 3px;
        line-height: 13px;

        &:hover {
            .menu--option-title {
                text-decoration: underline;
                // text-decoration-color: $light-blue;
            }
        }

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    .asterisk {
        // color: $light-blue;
        margin-right: 10px;
    }
}

.home__wrapper {
    flex: 1;
}

.player {
    @include fadeIn(3s);
}

.player--video-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid black;
}

.player--video {
    cursor: pointer;
    width: 100%;
}

.player--video-error {
    display: block;
    margin: 100px auto;
    @include fadeIn(5s);
}

.player__data {
    display: none;
    margin-top: 20px;
    @include fadeIn(2s);

    .logo {
        height: fit-content;
    }
}

.player__footer {
    background-color: $grey;
    margin-bottom: 20px;
    @include fadeIn(2s);
}

.player__footer__meta {
    display: flex;
    justify-content: space-between;

    .timer {
        position: absolute;
        right: 0;
        margin-right: 12%;
    }
}

.player__footer--text {
    display: flex;
    line-height: 20px;
    text-align: justify;
    font-family: Menlo;
    font-style: italic;
    font-size: 12px;
    margin-top: 20px;
    padding-right: 10%;

    .Typist {
        border-left: 1px solid $black;
        padding-left: 1em;
        margin-left: 5%;
    }

    & a {
        color: $black;
    }
}

.footer {
    font-family: Menlo;
    font-size: 10px;
    display: flex;
    justify-content: center;
    left: calc(100vw - 50% - 277px); // move the footer section 50% to the left of the entire screen, then move 50% of the width of the footer to the left
    margin-bottom: 10px;

    .footer--text.route {
        cursor: pointer;
    }

    .footer--hr {
        border: $grey;
        border-top: 1px dashed black;
        width: 75%;
        padding: 5px;
    }
}
