.magazine-viewer {
    text-align: center;

    .magazine-viewer__title {
        margin: 0 0 20px;
        text-align: left;
    }

    .image-gallery {
        width: 90%;
        margin: 0 auto;
        visibility: hidden;
        @include fadeIn(8s);
    }

    .image-gallery-left-nav:hover, .image-gallery-right-nav:hover {
        ::before {
            color: rgba(124, 124, 124, 0.2);
        }
    }

    .thumbnail {
        height: 10px;
        width: 10px;
        border: 1px solid white;
        display: inline-block;
        margin: 3px;
        position: relative;
        left: 5%;
        cursor: pointer;
    }

    .thumbnail-wrapper {
        margin-top: 10px;
        cursor: pointer;
        width: 40px;
        margin-left: 4.6%;
        visibility: hidden;
        @include fadeIn(8s);
    }
}
