@import "./animations.scss";
@import "./colors.scss";

@mixin fadeIn($time) {
    -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein $time; /* Firefox < 16 */
    -ms-animation: fadein $time; /* Internet Explorer */
    -o-animation: fadein $time; /* Opera < 12.1 */
    animation: fadein $time;
}

@mixin fadeOut($time) {
    -webkit-animation: fadeout $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout $time; /* Firefox < 16 */
    -ms-animation: fadeout $time; /* Internet Explorer */
    -o-animation: fadeout $time; /* Opera < 12.1 */
    animation: fadeout $time;
}

@mixin blueText() {
    font-style: italic;
    color: $light-blue;
}

@mixin invert($time) {
    -webkit-animation: invert $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: invert $time; /* Firefox < 16 */
    -ms-animation: invert $time; /* Internet Explorer */
    -o-animation: invert $time; /* Opera < 12.1 */
    animation: invert $time;
    -webkit-animation: invertReverse $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: invertReverse $time; /* Firefox < 16 */
    -ms-animation: invertReverse $time; /* Internet Explorer */
    -o-animation: invertReverse $time; /* Opera < 12.1 */
    animation: invertReverse $time;
}

